uvicorn
fastapi
fastapi_csrf_protect==0.2.1
motor==2.5.1
PyJWT==2.3.0
passlib==1.7.4
python-decouple==3.3
dnspython==2.1.0
gunicorn==20.1.0
mysqlclient
sqlalchemy==1.4.40
python-dateutil
python-jose
python-multipart
bcrypt
passlib
pydantic
pytz